<%# locals: (tagline: 'Hero Tag Line Goes Here', link_text: 'Link Text', css_variables: nil, theme_name: nil) -%>

<section class="Compo--hero <%= theme_name %>" style="<%= css_variables %>">
  <div>
    <h1><%= tagline %></h1>
    <a href="#"><%= link_text %></a>
  </div>
</section>

<% content_for :view_component_head do %>
  <% @combo_hero = true %>
  <style>
    section.Compo--hero {
      --hero-bg-color: pink;
      --hero-h1-font: Verdana, sans-serif;
      --hero-h1-color: black;
      --hero-link-color: black;
      --hero-hover-link-color: black;

      &.back_in_black {
       --hero-bg-color: orange;
      }

      &.surf_is_up {
        --hero-bg-color: lightblue;
        --hero-h1-font: Verdana, sans-serif;
        --hero-h1-color: pink;
        --hero-link-color: pink;
        --hero-hover-link-color: yellow;
      }

      position: relative;
      display: grid;
      place-items: center;
      width: 100%;
      height: 500px;
      background-color: var(--hero-bg-color);

      > div {
        text-align: center;
      }

      & h1 {
        font-family: var(--hero-h1-font);
        font-size: 4rem;
        color: var(--hero-h1-color);
      }

      & a {
        text-decoration: none;
        color: var(--hero-link-color);
        font-size: 1.5rem;

        &:hover {
          color: var(--hero-hover-link-color);
        }
      }
    }
  </style>
<% end unless @combo_hero%>
