<%# locals: (components: []) -%>

<section class="triple_stack">
  <% components.each do |component| %>
    <div class="inner">
      <%= render "erbv/components/#{component[:self_name]}",
                                          img_src: component[:img_src],
                                          href: component[:link_href],
                                          title: component[:title],
                                          subtitle:component[:subtitle]
                                        %>
    </div>
  <% end %>
</section>


